body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, gainsboro, ghostwhite, whitesmoke, lightgray, oldlace) no-repeat center center;
}

@font-face {
    font-family: 'DigitalDream';
    src: url('fonts/DIGITALDREAM.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.calculator {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    box-shadow: 10px 10px 0px black;
    transition: all 150ms ease;
    transform: translate(-10px, -10px);
}

.calculator:hover {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px black;
}

.output {
    background-color: black;
    color: white;
    padding: 0px 5px;
    font-size: 20px;
    font-family: 'DigitalDream', sans-serif;
}

p {
    margin: 10px;
}

.result {
    float: right;
    color: green;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
    gap: 10px;
}

.row-1 {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

button {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    box-shadow: 5px 5px 0px black;
    transition: all 150ms ease;
    transform: translate(-5px, -5px);
    font-weight: bold;
}

button:hover {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px black;
}

.final-button {
    margin-left: 15px;

}

.seperator {
    border-left: 1px solid black;
}

.equal {
    background-color: lightgreen;
    font-size: large;
}

.AC {
    background-color: brown;
}

.c {
    background-color: rgb(122, 122, 94);
}

.plus,
.minus,
.multiply,
.divide,
.modulos {
    background-color: beige;
}